@import url(./main.css);

#not-found-page{
  line-break: normal;

  h1 {
    size: var(--step-1);
    font-weight: normal;
    margin-bottom: 1rem;
  }

  a {
    color: var(--primary-color);
  }

  article {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }

}

