@import url(./main.css);

tool-list {
 display: flex; 
 justify-content: center;
 gap: clamp(var(--space-xl),var(--space-2xl), var(--space-3xl)); 
 line-height: 2rem;

 ul {
   list-style-type: none;
 }
}

#about-me {
  img {
    display: block;
    width: 70%;
    height: auto;
    margin: var(--space-l) auto;
  }
}

#portrait-square {
  display: block;
  margin: auto;
  width: clamp(100px, 50%, 400px);
  border-radius: 50%;
  margin-bottom: var(--space-l);
}

#portrait-square img {
  height: auto;
  border-radius: 50%;
  margin: auto;
}