@import url("./main.css");

#contact-section{
  display: flex;
  overflow: wrap;
  justify-content: space-around;
  align-items: center;
  ul {
    list-style-type: none;
    line-height: 2rem;
  } 
  #scooter-man {

  }

}

main {
  height: 100vh ;
}