@import url("./main.css");

#contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  margin: 20vh auto ;
  padding: var(--space-s);
  gap: var(--space-xs);
  justify-self: center;
  align-self: center;
  border: 1px solid var(--hr-color);
  background-color: var(--background-color);
  background: linear-gradient(var(--background-color), var(--background-secondary));
  border-radius: var(--border-round-med);

  input {
    border: 1px solid var(--hr-color);
    border-radius: var(--border-round-small);
    height: var(--space-m);
    padding: 0.5rem;
  }

  textarea {
    border: 1px solid var(--hr-color);
    border-radius: var(--border-round-small);
    height: var(--space-m);
    padding: 0.5rem;
    resize: none;
    height: 10%;
  }

  output-area {
    height: 7vh;
  }

  form-element {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);

    input:user-invalid {
      border: 2px solid var(--error-color);
    }

    textarea:invalid {
      border: 2px solid var(--error-color);
    }
  }

  form-element:has(input:optional) label::after {
    content: " (optional)";
  }

  #error-output {
    color: var(--error-color);
  }

  h1 {
    font-size: var(--step-3);
    margin: auto;
  }
}

#submit-contact-form {
  margin: var(--space-2xs) 0;
}